In [8]:
import os
import numpy as np

from nltk.tokenize import word_tokenize
from natsort import natsorted
from nltk.stem import PorterStemmer
#preprocessing
       
files_name=natsorted(os.listdir('files'))
print('                                              *****    Documents     ***** ' )
document_of_terms=[]
for files in files_name:
    with open(f'files/{files}','r') as f:
        document=f.read()
        
        print(document)
 
    tokenized_documents=word_tokenize(document)
    terms=[]
    for word in tokenized_documents:
            terms.append(word)
    document_of_terms.append(terms)

print('                                               *****    Documents in  Terms   *****                                                                        \n    '
    ,  document_of_terms,'\n')                        

######### 
#positional_index

document_number = 0
positional_index = {}

print() 
print("                                               *****     positions    *****                                       \n   ")
for document in document_of_terms:
    for positional, term in enumerate(document):
        if term in positional_index:
            positional_index[term][0] = positional_index[term][0] + 1

            if document_number in positional_index[term][1]:
                positional_index[term][1][document_number].append(positional)
            else:
                positional_index[term][1][document_number] = [positional]

        else:
            positional_index[term] = []
            positional_index[term].append(1)
            positional_index[term].append({})
            positional_index[term][1][document_number] = [positional]

    document_number += 1
    

print(positional_index,'\n')

#query_preprocessing

query='fools fear'

final_list=[[]for i in range (10)]
print('                                    ***** all response list *****                                                     ')
for word in query.split():    
    if word in positional_index.keys():
        for key in positional_index[word][1].keys():
            #print(key)
            if final_list[key]!=[]:
                
                 if final_list[key][-1] == positional_index[word][1][key][0]-1:
                        final_list[key].append(positional_index[word][1][key][0])
        
            else:
                 final_list[key].append(positional_index[word][1][key][0])
            
print(final_list,'\n')

print('                                  *****response list to query*****                                              ')
for position,list in enumerate(final_list,start=1):
    if len(list)==len(query.split()):
      print(position,list)     


#find tf and wtf
import pandas as pd
import math


all_words=[]
for doc in document_of_terms:
    for word in doc:
        all_words.append(word)
 #tf       
def get_term_freq(doc):
    words_found=dict.fromkeys(all_words,0)
    for word in doc:
        words_found[word]+=1
    return words_found

term_freq=pd.DataFrame(get_term_freq(document_of_terms[0]).values(),index=get_term_freq(document_of_terms[0]).keys())              
print('                                  *****term freq for each  term in doc*****                                              ')
print()        
for i in range(1,len(document_of_terms)):
    term_freq[i]=get_term_freq(document_of_terms[i]).values()
    
term_freq.columns=['doc'+str(i) for i in range (1,11)]    
print(term_freq)     

#wtf

def get_weighted_term_freq(x):
    if x>0:
      return math.log(x)+1
    return 0
     
print('                                  ***** weighted term freq for each  term in doc*****                                              ')
print()        
for i in range(1,len(document_of_terms)+1):
    term_freq['doc'+str(i)]= term_freq['doc'+str(i)].apply(get_weighted_term_freq) 
    
print(term_freq,'\n')
print()
 
#idf and tf*idf
 
tfd=pd.DataFrame(columns=['df','idf'])

print('                                  *****        IDF          *****                                              ')
for i in range(len(term_freq)):
    
    frequancy=term_freq.iloc[i].values.sum()
    
    tfd.loc[i,'df']=frequancy
    tfd.loc[i,'idf']=math.log10(10/(float(frequancy)))
    
tfd.index=term_freq.index
    
print(tfd)
# tf*idf

tf_idf=term_freq.multiply(tfd['idf'],axis=0)

print('                                  *****         TF*IDF             *****                                              ')
print()      
print(tf_idf)
# doc length

'''
def get_documents_length(col):
    return np.sqrt(tf_idf[col].apply(lambda x:x**2).sum())


for column in tf_idf.columns:
    document_length.loc[0,column+'_len']=get_documents_length(column)
print('                                  *****         Doc Length             *****                                              ') 
print(document_length,'\n')    


# normalized tf*idf
norm_tf_idf = pd.DataFrame()
def get_normalized(col, x):
    try:
        return x / document_length[col + '__len'].values[0]
    except:
        return 0
for column in tf_idf.columns:
    norm_tf_idf[column] = tf_idf[column].apply(lambda x: get_normalized(column, x))

print('                                  *****        Normalized TF*IDF           *****                                              ')
print(norm_tf_idf, '\n')
'''

document_length=pd.DataFrame({
    f'doc{i}_length':np.sqrt(tf_idf[f'doc{i}'].apply(lambda x:x**2).sum()) for i in range (1,11)
                             
},index=[0])
print('                                  *****         Doc Length             *****                                              ') 
print()
print(document_length,'\n') 

norm_tf_idf= tf_idf.divide(document_length.values[0],axis=1)
print('                                  *****        Normalized TF*IDF           *****                                              ')
print()
print(norm_tf_idf)

                                              *****    Documents     *****
antony brutus caeser cleopatra mercy worser

antony brutus caeser calpurnia
mercy worser
brutus caeser mercy worser
caeser mercy worser
antony caeser mercy
angels fools fear in rush to tread where
angels fools fear in rush to tread where
angels fools in rush to tread where
fools fear in rush to tread where
                                               *****    Documents in  Terms   *****
     [['antony', 'brutus', 'caeser', 'cleopatra', 'mercy', 'worser'], ['antony', 'brutus', 'caeser', 'calpurnia'], ['mercy', 'worser'], ['brutus', 'caeser', 'mercy', 'worser'], ['caeser', 'mercy', 'worser'], ['antony', 'caeser', 'mercy'], ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'], ['angels', 'fools', 'fear', 'in', 'rush', 'to', 'tread', 'where'], ['angels', 'fools', 'in', 'rush', 'to', 'tread', 'where'], ['fools', 'fear', 'in', 'rush', 'to', 'tread', 'where']]


                                               *****     positions    *****

{'antony': [3, {0: [0], 1: [0], 5: [0]}], 'brutus': [3, {0: [1], 1: [1], 3: [0]}], 'caeser': [5, {0: [2], 1: [2], 3: [1], 4: [0], 5: [1]}], 'cleopatra': [1, {0: [3]}], 'mercy': [5, {0: [4], 2: [0], 3: [2], 4: [1], 5: [2]}], 'worser': [4, {0: [5], 2: [1], 3: [3], 4: [2]}], 'calpurnia': [1, {1: [3]}], 'angels': [3, {6: [0], 7: [0], 8: [0]}], 'fools': [4, {6: [1], 7: [1], 8: [1], 9: [0]}], 'fear': [3, {6: [2], 7: [2], 9: [1]}], 'in': [4, {6: [3], 7: [3], 8: [2], 9: [2]}], 'rush': [4, {6: [4], 7: [4], 8: [3], 9: [3]}], 'to': [4, {6: [5], 7: [5], 8: [4], 9: [4]}], 'tread': [4, {6: [6], 7: [6], 8: [5], 9: [5]}], 'where': [4, {6: [7], 7: [7], 8: [6], 9: [6]}]}

                                    ***** all response list *****
[[], [], [], [], [], [], [1, 2], [1, 2], [1], [0, 1]]

                                  *****response list to query*****
7 [1, 2]
8 [1, 2]
10 [0, 1]
                                  *****term freq for each  term in doc*****

           doc1  doc2  doc3  doc4  doc5  doc6  doc7  doc8  doc9  doc10
antony        1     1     0     0     0     1     0     0     0      0
brutus        1     1     0     1     0     0     0     0     0      0
caeser        1     1     0     1     1     1     0     0     0      0
cleopatra     1     0     0     0     0     0     0     0     0      0
mercy         1     0     1     1     1     1     0     0     0      0
worser        1     0     1     1     1     0     0     0     0      0
calpurnia     0     1     0     0     0     0     0     0     0      0
angels        0     0     0     0     0     0     1     1     1      0
fools         0     0     0     0     0     0     1     1     1      1
fear          0     0     0     0     0     0     1     1     0      1
in            0     0     0     0     0     0     1     1     1      1
rush          0     0     0     0     0     0     1     1     1      1
to            0     0     0     0     0     0     1     1     1      1
tread         0     0     0     0     0     0     1     1     1      1
where         0     0     0     0     0     0     1     1     1      1
                                  ***** weighted term freq for each  term in doc*****

           doc1  doc2  doc3  doc4  doc5  doc6  doc7  doc8  doc9  doc10
antony      1.0   1.0   0.0   0.0   0.0   1.0   0.0   0.0   0.0    0.0
brutus      1.0   1.0   0.0   1.0   0.0   0.0   0.0   0.0   0.0    0.0
caeser      1.0   1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0    0.0
cleopatra   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0
mercy       1.0   0.0   1.0   1.0   1.0   1.0   0.0   0.0   0.0    0.0
worser      1.0   0.0   1.0   1.0   1.0   0.0   0.0   0.0   0.0    0.0
calpurnia   0.0   1.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0    0.0
angels      0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    0.0
fools       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
fear        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   0.0    1.0
in          0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
rush        0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
to          0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
tread       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0
where       0.0   0.0   0.0   0.0   0.0   0.0   1.0   1.0   1.0    1.0


                                  *****        IDF          *****
            df       idf
antony     3.0  0.522879
brutus     3.0  0.522879
caeser     5.0   0.30103
cleopatra  1.0       1.0
mercy      5.0   0.30103
worser     4.0   0.39794
calpurnia  1.0       1.0
angels     3.0  0.522879
fools      4.0   0.39794
fear       3.0  0.522879
in         4.0   0.39794
rush       4.0   0.39794
to         4.0   0.39794
tread      4.0   0.39794
where      4.0   0.39794
                                  *****         TF*IDF             *****

               doc1      doc2     doc3      doc4     doc5      doc6      doc7  \
antony     0.522879  0.522879      0.0       0.0      0.0  0.522879       0.0
brutus     0.522879  0.522879      0.0  0.522879      0.0       0.0       0.0
caeser      0.30103   0.30103      0.0   0.30103  0.30103   0.30103       0.0
cleopatra       1.0       0.0      0.0       0.0      0.0       0.0       0.0
mercy       0.30103       0.0  0.30103   0.30103  0.30103   0.30103       0.0
worser      0.39794       0.0  0.39794   0.39794  0.39794       0.0       0.0
calpurnia       0.0       1.0      0.0       0.0      0.0       0.0       0.0
angels          0.0       0.0      0.0       0.0      0.0       0.0  0.522879
fools           0.0       0.0      0.0       0.0      0.0       0.0   0.39794
fear            0.0       0.0      0.0       0.0      0.0       0.0  0.522879
in              0.0       0.0      0.0       0.0      0.0       0.0   0.39794
rush            0.0       0.0      0.0       0.0      0.0       0.0   0.39794
to              0.0       0.0      0.0       0.0      0.0       0.0   0.39794
tread           0.0       0.0      0.0       0.0      0.0       0.0   0.39794
where           0.0       0.0      0.0       0.0      0.0       0.0   0.39794

               doc8      doc9     doc10
antony          0.0       0.0       0.0
brutus          0.0       0.0       0.0
caeser          0.0       0.0       0.0
cleopatra       0.0       0.0       0.0
mercy           0.0       0.0       0.0
worser          0.0       0.0       0.0
calpurnia       0.0       0.0       0.0
angels     0.522879  0.522879       0.0
fools       0.39794   0.39794   0.39794
fear       0.522879       0.0  0.522879
in          0.39794   0.39794   0.39794
rush        0.39794   0.39794   0.39794
to          0.39794   0.39794   0.39794
tread       0.39794   0.39794   0.39794
where       0.39794   0.39794   0.39794
                                  *****         Doc Length             *****

   doc1_length  doc2_length  doc3_length  doc4_length  doc5_length  \
0     1.373462     1.279618     0.498974     0.782941     0.582747

   doc6_length  doc7_length  doc8_length  doc9_length  doc10_length
0      0.67427     1.223496     1.223496     1.106137      1.106137

                                  *****        Normalized TF*IDF           *****

               doc1      doc2      doc3      doc4      doc5      doc6  \
antony     0.380701  0.408621       0.0       0.0       0.0  0.775474
brutus     0.380701  0.408621       0.0  0.667839       0.0       0.0
caeser     0.219176   0.23525       0.0  0.384486   0.51657  0.446453
cleopatra  0.728087       0.0       0.0       0.0       0.0       0.0
mercy      0.219176       0.0  0.603298  0.384486   0.51657  0.446453
worser     0.289735       0.0  0.797516  0.508263  0.682869       0.0
calpurnia       0.0  0.781483       0.0       0.0       0.0       0.0
angels          0.0       0.0       0.0       0.0       0.0       0.0
fools           0.0       0.0       0.0       0.0       0.0       0.0
fear            0.0       0.0       0.0       0.0       0.0       0.0
in              0.0       0.0       0.0       0.0       0.0       0.0
rush            0.0       0.0       0.0       0.0       0.0       0.0
to              0.0       0.0       0.0       0.0       0.0       0.0
tread           0.0       0.0       0.0       0.0       0.0       0.0
where           0.0       0.0       0.0       0.0       0.0       0.0

               doc7      doc8      doc9     doc10
antony          0.0       0.0       0.0       0.0
brutus          0.0       0.0       0.0       0.0
caeser          0.0       0.0       0.0       0.0
cleopatra       0.0       0.0       0.0       0.0
mercy           0.0       0.0       0.0       0.0
worser          0.0       0.0       0.0       0.0
calpurnia       0.0       0.0       0.0       0.0
angels     0.427365  0.427365  0.472707       0.0
fools      0.325248  0.325248  0.359756  0.359756
fear       0.427365  0.427365       0.0  0.472707
in         0.325248  0.325248  0.359756  0.359756
rush       0.325248  0.325248  0.359756  0.359756
to         0.325248  0.325248  0.359756  0.359756
tread      0.325248  0.325248  0.359756  0.359756
where      0.325248  0.325248  0.359756  0.359756

In [9]:
q='antony brutus'

In [10]:
def get_w_tf(x):
    try:
        return math.log10(x)+1
    except:
        return 0

In [11]:
import math
query=pd.DataFrame(index=norm_tf_idf.index)
query['tf']=[1 if x in q.split() else 0 for x in list(norm_tf_idf.index)]
query['w_tf']=query['tf'].apply(lambda x:get_w_tf(x))
product=norm_tf_idf.multiply(query['w_tf'],axis=0)
query['idf']=tfd['idf']*query['w_tf']
query['tf_idf']=query['w_tf']*query['idf']
query['norm']=0
for i in range(len(query)):
    query['norm'].iloc[i]=float(query['idf'].iloc[i])/math.sqrt(sum(query['idf'].values**2))

product2=product.multiply(query['norm'],axis=0)   
#product2
query

TypeError: 'list' object is not callable

In [ ]:
math.sqrt(sum([x**2 for x in query['idf'].loc[q.split()]]))

0.7394622130520805

In [ ]:
query['idf'].loc[q.split()]

antony    0.522879
brutus    0.522879
Name: idf, dtype: object

In [ ]:
product2.loc[q.split()].values

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [ ]:
scores={}
for col in product2.columns:
    if 0 in product2[col].loc[q.split()].values:
        pass
    else:
        scores[col]=product2[col].sum()

In [ ]:
scores

{}

In [ ]:
product2[list(scores.keys())]

Empty DataFrame
Columns: []
Index: [antony, brutus, caeser, cleopatra, mercy, worser, calpurnia, angels, fools, fear, in, rush, to, tread, where]

In [ ]:
product2[list(scores.keys())].loc[q.split()]

Empty DataFrame
Columns: []
Index: [antony, brutus]

In [ ]:
prod_res=product2[list(scores.keys())]

In [ ]:
prod_res.sum()

Series([], dtype: float64)

In [ ]:
final_score=sorted(scores.items(),key=lambda x:x[1],reverse=True)

In [ ]:
for doc in final_score:
    print(doc[0],end='')